*,*:before, *:after {

     padding: 0;
     margin:0;
     box-sizing: border-box;
}

body {
     height: 100vh;
     background: linear-gradient(
          35deg,
          #5fec52,
          #b8ff61b3
     );
}

.container {
     border:  2px solid white;
     width: 40%;
     position: absolute;
     transform: translate(-50%,-50%);
     top: 50%;
     left: 50%;
     border-radius: 3px;
     padding:  30px 40px; 
}

#newtask {
     background-color: #fff;
     padding: 30px 40px;
     border-radius: 5px;
     box-shadow: 0 15px 30px rgba(0, 0, 0,0.3);
}

#newtask input {
      width: 70%;
      height: 45px;
      font-family: "Poppins",sans-serif;
      font-size: 15px;
      border: 2px solid #d1d3d4;
      padding: 12px;
      color: #1f152d;
      font-weight: 500;
      position: relative;
      border-radius: 2px;


}

#newtask input:focus {
     outline:  none;
     border-radius: #78ec52;
}

#newtask button {
     position: relative;
     float: right;
     width: 20%;
     height: 45px;
     border-radius: 5px;
     font-family: "Poppins",sans-serif;
     font-weight: 500;
     font-size: 16px;
     background-color: #5cec52; 
     box-shadow: none;
     color: white;
     border: none;
     cursor: pointer;
}
#newtask button:hover {
     background-color: #fff;
     color: #57ec52;
     border:2px solid #57ec52;
}

#tasks {
     
     padding: 20px 20px;
     margin-top: 60px;
     border-radius: 10px;
     box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
     width: 100%;
     border: 3px solid white;
     position: relative;
}

.task {
     background-color: #fff;
     height: 70px;
     padding: 15px 10px;
     margin-top: 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 2px solid #d1d3d4;
     cursor: pointer;
     border-radius: 10px;
}


.task span {
     font-family: 'Poppins',sans-serif;
     font-size: 15px;
     font-weight: 400;
}

.task button {
     background-color: #57ec52;
     color: #ffffff;
     height: 100%;
     width: 40px;
     border-radius: 5px;
     border: none;
     cursor: pointer;
     outline: none;
}

.task button:hover {
     background-color: #fff;
     color: #57ec52;
     border:2px solid #57ec52;

}

.completed {
     text-decoration:line-through ;
}


